In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data = pd.read_csv('/home/mohit/Desktop/ANN_Classification/Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
## Estimated Salary will be the - output feature and remaining all will be the independent
## Preprocessing the data
# 1) drop - CustomerId, Surname and rownumber

data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis = 1)

In [4]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
## Convert - Gender into - 0 and 1 using labelencoder
label_gender = LabelEncoder()
data['Gender'] = label_gender.fit_transform(data['Gender'])

In [6]:
## Convert - Geography into numerical using one hot encoder
one_hot_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = one_hot_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=one_hot_geo.get_feature_names_out(['Geography']))

In [7]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combining one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis = 1),geo_encoded_df], axis = 1)

In [9]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
## Split data into features and target

x = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [11]:
# Split data into training and testing sets
x_train, x_test, y_train,y_test = train_test_split(x,y,test_size=0.2, random_state=42)

In [12]:
# Scale the Features
scal = StandardScaler()
x_train = scal.fit_transform(x_train)
x_test = scal.transform(x_test)

In [13]:
## Save the encoder and scaler into pickle file for later use

with open('label_gender.pkl', 'wb') as file:
    pickle.dump(label_gender, file)

with open('one_hot_geo.pkl', 'wb') as file:
    pickle.dump(one_hot_geo, file)

with open('scal.pkl','wb') as file:
    pickle.dump(scal, file)

# ANN Regression Problem Statement

In [14]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input

2024-12-10 01:25:01.195862: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-10 01:25:01.457091: I external/local_xla/xla/tsl/cuda/cudart_stub.cc:32] Could not find cuda drivers on your machine, GPU will not be used.
2024-12-10 01:25:01.511477: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1733774101.557788   43273 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1733774101.577161   43273 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-12-10 01:25:01.658678: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
# Building THe Model
model = Sequential([
    Input(shape=(x_train.shape[1],)),  # Define the input layer
    Dense(64, activation='relu'),
    Dense(32, activation ='relu'),
    Dense(1) # output layer - regression , default activation function = Linear activation
])

W0000 00:00:1733774112.304779   43273 gpu_device.cc:2344] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [16]:
# Compile the model
model.compile(optimizer='adam', loss = 'mean_absolute_error', metrics=['mae'])

In [17]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [18]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Saving logs
log_dir = "regression/fits/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callbacks = TensorBoard(log_dir= log_dir, histogram_freq=1)

In [19]:
# Set up Early Stopping
early_stopping_callbacks = EarlyStopping(monitor='val_loss', patience=10,restore_best_weights=True)

In [20]:
# Train The Model
history=model.fit(
    x_train,y_train,
    validation_data=(x_test, y_test),
    epochs = 100,
    callbacks=[early_stopping_callbacks, tensorboard_callbacks]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 7ms/step - loss: 100639.6562 - mae: 100639.6562 - val_loss: 98489.0938 - val_mae: 98489.0938
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 98609.4219 - mae: 98609.4219 - val_loss: 96761.0000 - val_mae: 96761.0000
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 97724.6953 - mae: 97724.6953 - val_loss: 92347.9062 - val_mae: 92347.9062
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 92038.6328 - mae: 92038.6328 - val_loss: 85110.4453 - val_mae: 85110.4453
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 83818.3359 - mae: 83818.3359 - val_loss: 75992.4531 - val_mae: 75992.4531
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 74221.3125 - mae: 74221.3125 - val_loss: 66965.2344 - val_mae: 66965.2344
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 65298.2305 - mae: 65298.2305 - val_loss: 59528.5938 - val_mae: 59528.5938
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 58040.9805 - mae: 58040.9805 - val_loss: 54710.5547 - val_mae: 54710.5547
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 53651.9297 - mae: 53651.9297 - val_loss: 52245.8438 - val_mae: 52245.8438
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 52537.9453 - mae: 52537.9453 - val_loss: 51337.3359 - val_mae: 51337.3359
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50965.9961 - mae: 50965.9961 - val_loss: 51020.6055 - val_mae: 51020.6055
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50117.7305 - mae: 50117.7305 - val_loss: 50911.1055 - val_mae: 50911.1055
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49741.4688 - mae: 49741.4688 - val_loss: 50842.5547 - val_mae: 50842.5547
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50756.8906 - mae: 50756.8906 - val_loss: 50771.8906 - val_mae: 50771.8906
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50291.6172 - mae: 50291.6172 - val_loss: 50719.7812 - val_mae: 50719.7812
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50459.7734 - mae: 50459.7734 - val_loss: 50671.3906 - val_mae: 50671.3906
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49810.4297 - mae: 49810.4297 - val_loss: 50627.8203 - val_mae: 50627.8203
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49798.9570 - mae: 49798.9570 - val_loss: 50580.0859 - val_mae: 50580.0859
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50065.5938 - mae: 50065.5938 - val_loss: 50546.8789 - val_mae: 50546.8789
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49867.7422 - mae: 49867.7422 - val_loss: 50512.8711 - val_mae: 50512.8711
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 50046.5391 - mae: 50046.5391 - val_loss: 50469.1289 - val_mae: 50469.1289
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49571.5078 - mae: 49571.5078 - val_loss: 50447.9219 - val_mae: 50447.9219
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49652.9492 - mae: 49652.9492 - val_loss: 50435.8906 - val_mae: 50435.8906
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49715.1211 - mae: 49715.1211 - val_loss: 50413.9727 - val_mae: 50413.9727
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49968.5742 - mae: 49968.5742 - val_loss: 50388.9219 - val_mae: 50388.9219
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49876.1094 - mae: 49876.1094 - val_loss: 50385.2461 - val_mae: 50385.2461
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49535.1406 - mae: 49535.1406 - val_loss: 50366.8672 - val_mae: 50366.8672
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49367.5273 - mae: 49367.5273 - val_loss: 50354.0156 - val_mae: 50354.0156
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49568.3984 - mae: 49568.3984 - val_loss: 50344.9453 - val_mae: 50344.9453
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50090.8750 - mae: 50090.8750 - val_loss: 50332.5469 - val_mae: 50332.5469
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 50040.5625 - mae: 50040.5625 - val_loss: 50328.1719 - val_mae: 50328.1719
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49428.5039 - mae: 49428.5039 - val_loss: 50320.6250 - val_mae: 50320.6250
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49590.2812 - mae: 49590.2812 - val_loss: 50313.3945 - val_mae: 50313.3945
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49973.2461 - mae: 49973.2461 - val_loss: 50314.9609 - val_mae: 50314.9609
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49896.1797 - mae: 49896.1797 - val_loss: 50300.9023 - val_mae: 50300.9023
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49560.4531 - mae: 49560.4531 - val_loss: 50299.0469 - val_mae: 50299.0469
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49998.4023 - mae: 49998.4023 - val_loss: 50292.0938 - val_mae: 50292.0938
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49781.8594 - mae: 49781.8594 - val_loss: 50294.1211 - val_mae: 50294.1211
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49379.4961 - mae: 49379.4961 - val_loss: 50290.1953 - val_mae: 50290.1953
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49590.3672 - mae: 49590.3672 - val_loss: 50279.9492 - val_mae: 50279.9492
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49602.1211 - mae: 49602.1211 - val_loss: 50280.1133 - val_mae: 50280.1133
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49204.3594 - mae: 49204.3594 - val_loss: 50284.5664 - val_mae: 50284.5664
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49678.2305 - mae: 49678.2305 - val_loss: 50282.0000 - val_mae: 50282.0000
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49099.2539 - mae: 49099.2539 - val_loss: 50275.6055 - val_mae: 50275.6055
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49373.1641 - mae: 49373.1641 - val_loss: 50289.1250 - val_mae: 50289.1250
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49583.1133 - mae: 49583.1133 - val_loss: 50286.5625 - val_mae: 50286.5625
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49989.0039 - mae: 49989.0039 - val_loss: 50284.8945 - val_mae: 50284.8945
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49486.0195 - mae: 49486.0195 - val_loss: 50262.5742 - val_mae: 50262.5742
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49326.4648 - mae: 49326.4648 - val_loss: 50283.9883 - val_mae: 50283.9883
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49760.8945 - mae: 49760.8945 - val_loss: 50282.8047 - val_mae: 50282.8047
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49542.3672 - mae: 49542.3672 - val_loss: 50273.4805 - val_mae: 50273.4805
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49548.4062 - mae: 49548.4062 - val_loss: 50280.3750 - val_mae: 50280.3750
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49362.1133 - mae: 49362.1133 - val_loss: 50280.3359 - val_mae: 50280.3359
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49180.2852 - mae: 49180.2852 - val_loss: 50283.9844 - val_mae: 50283.9844
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49769.6016 - mae: 49769.6016 - val_loss: 50291.0781 - val_mae: 50291.0781
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49694.7383 - mae: 49694.7383 - val_loss: 50294.1484 - val_mae: 50294.1484
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49540.1641 - mae: 49540.1641 - val_loss: 50292.1758 - val_mae: 50292.1758
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49579.5430 - mae: 49579.5430 - val_loss: 50299.0469 - val_mae: 50299.0469

In [21]:
%load_ext tensorboard

In [22]:
%tensorboard --logdir regression/fits

Launching TensorBoard...

In [23]:
## Evaluate Model on Test Data
test_loss, test_mae = model.evaluate(x_test, y_test)
print(f"Test MAE : {test_mae}")

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 51135.0156 - mae: 51135.0156
Test MAE : 50262.57421875

In [24]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.